<template>
  <div id="canvas" />
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import Konva from "konva";
import Vec2D from "./helpers/vector";
import * as View from "./view";
import * as Model from "./model";
import { namespace } from "vuex-class";

const AppState = namespace("AppState");

const electron = window.require("electron");

@Component
export default class Main extends Vue {
  @Prop({ default: null }) private current_file!: string;

  @AppState.State
  public side_pannel!: boolean;

  @AppState.State
  public current_fsm_path!: string;

  @AppState.State
  public selected_node_name!: string;

  @AppState.Mutation
  public setSelectedNode!: (new_val: string) => void;

  @AppState.Mutation
  public setCppCode!: (new_val: string) => void;

  private fsm_model!: Model.FSM;

  private selected?: View.Node;
  private nodes: Array<View.Node> = [];
  private arrows: Array<Konva.Arrow> = [];
  private labels: Array<Konva.Text> = [];
  private stage!: Konva.Stage;
  private layer!: Konva.Layer;
  private next_x = 100;
  private next_y = 0;
  private container_height!: number;

  async mounted() {
    this.container_height = document.getElementById("canvas")!.clientHeight;
    this.stage = new Konva.Stage({
      container: "canvas",
      width: window.innerWidth,
      height: this.container_height,
    });

    this.layer = new Konva.Layer();
    this.stage.add(this.layer);

    this.stage.on("click", this.onClick);
  }

  cleanup() {
    this.selected = undefined;
    this.stage.clear();
    this.next_x = 0;
    this.next_y = 0;
    this.labels.forEach((label) => {
      label.destroy();
    });
    this.arrows.forEach((arrow) => {
      arrow.destroy();
    });
    this.nodes.forEach((node) => {
      node.shape.destroy();
    });
    this.nodes = [];
  }

  autopos(width: number, height: number) {
    const x = width * 0.5;
    let y = 50;

    const used_nodes: Array<View.Node> = [];

    const start = this.findNode("start");
    if (start === undefined) return;

    let row_nodes: Array<View.Node> = [start];

    while (row_nodes.length > 0) {
      const next_row_nodes: Array<View.Node> = [];
      row_nodes.forEach((node, index) => {
        if (used_nodes.includes(node) === false) {
          used_nodes.push(node);
          node.setPos(
            row_nodes.length == 1
              ? x - 30
              : x + (index + 1) * (index % 2 > 0 ? -1 : 1) * 50,
            y
          );
          node.connections.forEach((con) => {
            if (con.from.label.text() === node.label.text()) {
              next_row_nodes.push(con.to);
            }
          });

          node.connections.forEach((connection) => {
            connection.updateConnection();
          });
          this.stage.draw();
        }
      });
      y += 100;
      row_nodes = [...new Set(next_row_nodes)];
    }
  }

  findNode(name: string): View.Node {
    return this.nodes.find((el) => el.label.text() == name)!;
  }

  createNode(node_name: string): View.Node {
    this.next_x += View.Node.default_radius;
    this.next_y += View.Node.default_radius * 2;
    const shape = new Konva.Circle({
      x: this.next_x,
      y: this.next_y,
      radius: View.Node.default_radius,
      fill: "#4466AA88",
      stroke: "black",
      strokeWidth: 1,
      draggable: true,
      name: node_name,
    });
    const label = new Konva.Text({
      x: this.next_x + View.Node.default_radius,
      y: this.next_y - View.Node.default_radius * 2,
      fontFamily: "Calibri",
      fontSize: 24,
      text: node_name,
      fill: "black",
    });
    this.labels.push(label);

    shape.on("dragmove", (event) => this.onNodeMove(event));

    const fsm_node = new View.Node(shape, label);
    this.layer.add(shape);
    this.layer.add(label);

    this.nodes.push(fsm_node);
    shape.setAttr("fsm_node", fsm_node);
    label.draw();
    shape.draw();

    return fsm_node;
  }

  removeNode(name: string) {
    const node_id = this.nodes.findIndex((el) => el.label.text() == name);

    this.nodes[node_id].shape.destroy();
    this.nodes.slice(node_id, 1);
  }

  connectNodes(from: View.Node, to: View.Node) {
    const arrow = new Konva.Arrow({
      points: [0, 0, 0, 0],
      pointerLength: 10,
      pointerWidth: 10,
      fill: "black",
      stroke: "black",
      strokeWidth: 2,
      tension: 5.5,
    });
    this.arrows.push(arrow);

    const connection = new View.Connection(arrow, from, to);
    connection.updateConnection();

    to.connections.push(connection);
    from.connections.push(connection);
    this.layer.add(arrow);
    arrow.draw();
  }

  //-----------EVENT HANDLERS-------------

  onContainerUpdate(new_size: number) {
    this.stage!.height(new_size * this.container_height * 0.01);
  }

  onClick(event: Konva.KonvaEventObject<MouseEvent>) {
    const node = event.target.attrs.fsm_node;

    if (node === undefined) {
      if (this.selected !== undefined) {
        this.selected.shape.attrs.stroke = "black";
        this.selected.shape.draw();
        this.selected = undefined;
      }

      this.setSelectedNode("");
      this.setCppCode("");
      return;
    }

    if (this.selected !== undefined) {
      this.selected.shape.attrs.stroke = "black";
      this.selected.shape.draw();
    }

    node.shape.attrs.stroke = "white";
    node.shape.draw();

    this.selected = event.target.attrs.fsm_node;
    this.setSelectedNode(this.selected!.label.text());
    this.setCppCode(this.fsm_model.findState(this.selected_node_name)!.code);
  }

  public onNodeMove(event: Konva.KonvaEventObject<any>) {
    const node: View.Node = event.target.attrs.fsm_node;

    node.setPos(node.shape.attrs.x, node.shape.attrs.y);

    node.connections.forEach((connection) => {
      connection.updateConnection();
    });
  }

  public async loadModel(model: Model.FSM) {
    this.fsm_model = model;

    this.cleanup();
    await this.fsm_model.states.forEach((state) => {
      this.createNode(state.name);
    });

    await this.fsm_model.states.forEach((state) => {
      state.transitions.forEach((next_state) => {
        this.connectNodes(
          this.findNode(state.name),
          this.findNode(next_state.name)
        );
      });
    });
    this.autopos(window.innerWidth, 1000);
  }
}
</script>

<style scoped>
#canvas {
  height: 100%;
}
</style>