<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <style>
    ::-webkit-scrollbar {
      display: none;
    }
  </style>
</head>

<body>
  <!--<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">-->
  <link rel="stylesheet" href="./prism.css" />
  <link rel="stylesheet" href="./prism-live.css">
  <script src="./prism.js?load=cpp"></script>
  <script src="./prism-live.js?load=cpp"></script>
  <script src="./mermaid.min.js"></script>

  <script>
    var callback = function (val) {
      const event = new CustomEvent('marmaid_click', { detail: { node_name: val } });
      window.dispatchEvent(event);
    }
  </script>

  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>