<template>
  <v-app class="app_root">
    <div>
      <v-app-bar app clipped-left dark>
        <div class="d-flex align-center">
          <v-img
            @click="setSidePannel(!side_pannel)"
            class="shrink mr-2 app_logo"
            contain
            src="../assets/fsm.png"
            transition="scale-transition"
            width="64"
          />
        </div>

        <v-toolbar-title>{{ current_fsm_path }}</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-menu left bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <fa-icon
                style="width: 32px; height: 32px"
                :icon="['fas', 'ellipsis-v']"
              />
            </v-btn>
          </template>

          <v-list dark style="padding: 0px; margin: 0px">
            <v-list-item
              dense
              dark
              style="border-bottom: 1px solid black"
              v-for="fsm in all_FSMs"
              :key="fsm"
              @click="setCurrentFSM(fsm)"
            >
              <v-list-item-content>
                <v-list-item-title>
                  {{ fsm }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-app-bar>
    </div>

    <v-navigation-drawer v-model="panel_state" clipped app dark>
      <Properties :node_name="selected_node" />
    </v-navigation-drawer>

    <v-main>
      <v-container style="padding: 0px; margin: 0px" fluid fill-height>
        <MainVue />
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import MainVue from "@/components/Main.vue";
import Properties from "@/components/Properties.vue";

import { namespace } from "vuex-class";
const AppState = namespace("AppState");

const electron = window.require("electron");
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {
    MainVue,
    Properties,
  },
})
export default class App extends Vue {
  @AppState.State
  public side_pannel!: boolean;

  @AppState.State
  public selected_node!: string;

  @AppState.State
  public current_fsm_path!: string;

  @AppState.State
  public all_FSMs!: Array<string>;

  @AppState.Mutation
  public setSidePannel!: (new_val: boolean) => void;

  @AppState.Mutation
  public setFSMList!: (new_val: Array<string>) => void;

  @AppState.Mutation
  public setCurrentFSM!: (new_val: string) => void;

  private upd_stats: Array<{ name: string; time: number }> = [];

  async mounted() {
    const result = await electron.ipcRenderer.invoke("list_fsms", {
      path: "/home/nonametr/Projects/",
    });

    electron.ipcRenderer.on("fsm_update", this.onFSMUpdate);

    this.setFSMList(result);
    this.setCurrentFSM(result[0]);
  }

  isValidUpdate(fsm_name: string): boolean {
    let result = false;
    const stat = this.upd_stats.find((el) => el.name == fsm_name);
    if (stat === undefined) {
      this.upd_stats.push({ name: fsm_name, time: Date.now() });
      result = true;
    } else {
      const now = Date.now();
      if (stat.time < now - 100) {
        stat.time = now;
        result = true;
      }
    }

    return result;
  }

  onFSMUpdate(event: any, fsm: any, dir: any) {
    const new_fsm_path = dir + "/" + fsm;

    const fsm_found = this.all_FSMs.find((fsm) => fsm == new_fsm_path);

    if (fsm_found !== undefined) {
      if (this.isValidUpdate(fsm_found) === false) {
        return;
      }
      if (fsm_found === this.current_fsm_path) {
        this.$root.$emit("fsm_update", new_fsm_path);
      }

      this.setCurrentFSM(new_fsm_path);
    }
  }

  get panel_state() {
    return this.side_pannel;
  }

  set panel_state(value) {
    this.setSidePannel(value);
  }
}
</script>

<style scoped>
.app_logo {
  cursor: pointer;
  filter: brightness(50%);
  transition: 0.5s;
}
.app_logo:hover {
  filter: brightness(100%);
  transition: 0.5s;
}
</style>
