<template>
  <div id="container">
    <MarmaidFSM ref="fsm_component" @nodeSelect="onNodeSelect" />
    <!--<FSMView :style="canvasStyle" />-->
    <!--
    <div id="canvas" :style="canvasStyle"></div>
    -->
    <div id="separator" @mousedown="onSeparatorDrag($event)"></div>
    <div id="code" :style="codeStyle">
      <div id="code_mermaid">
        <pre
          class="line-numbers"
          style="height: 100%; padding: 1% 0px 0px 20%; margin: 0px 2px 0px 0px"
        ><code class="lang-markup" v-html="mermaid_code" />
        </pre>
      </div>
      <div style="color: white" id="code_cpp">
        <pre
          class="line-numbers"
          style="height: 100%; padding: 1% 0px 0px 20%; margin: 0px 2px 0px 0px"
        ><code class="lang-cpp" v-html="cpp_code" />
        </pre>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
declare global {
  interface Window {
    Prism: any;
    mermaid: {
      init: any;
      initialize: any;
      mermaidAPI: any;
    };
  }
}

import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import Konva from "konva";

import MarmaidFSM from "@/components/MarmaidFSM.vue";
import FSMView from "@/components/FSM/FSM.vue";
import { namespace } from "vuex-class";
import * as Model from "./FSM/model";

const AppState = namespace("AppState");

const electron = window.require("electron");

@Component({
  components: {
    FSMView,
    MarmaidFSM,
  },
})
export default class Main extends Vue {
  @AppState.State
  public side_pannel!: boolean;

  @AppState.State
  public cpp_code!: string;

  @AppState.State
  public mermaid_code!: string;

  @AppState.State
  public current_fsm_path!: string;

  @AppState.Mutation
  public setCppCode!: (new_val: string) => void;

  private fsm_model!: Model.FSM;
  private container_size = 0.0;
  private code_size = 20.0;
  private canvas_size = 80.0;
  private resizing = false;

  async mounted() {
    this.container_size = document.getElementById("container")!.clientHeight;
    this.$root.$on("fsm_update", this.onFSMUpdate);
  }

  onMouseMove(event: MouseEvent) {
    const slit_point = (event.pageY - 60) / this.container_size;
    this.canvas_size = 100 * slit_point;
    this.code_size = 100 * (1.0 - slit_point);
  }

  onMouseUp() {
    this.resizing = false;
    document.removeEventListener("mousemove", this.onMouseMove);
  }

  onSeparatorDrag(event: MouseEvent) {
    this.resizing = true;
    document.addEventListener("mousemove", this.onMouseMove);
    document.addEventListener("mouseup", this.onMouseUp);
  }
  get canvasStyle() {
    return `height: ${this.container_size * this.canvas_size * 0.01}px`;
  }
  get codeStyle() {
    return `height: ${this.container_size * this.code_size * 0.01}px`;
  }

  //------------EVENT HANDLERS-------------

  async onNodeSelect(node_name: string) {
    const state = this.fsm_model.findState(node_name)!;
    this.setCppCode(state.code);

    const data = electron.ipcRenderer.invoke("clion_open", {
      file: this.current_fsm_path,
      line: state.line,
    });
  }

  async onFSMUpdate(fsm: string) {
    const data = await electron.ipcRenderer.invoke("read_file", fsm);
    this.fsm_model = new Model.FSM();
    await this.fsm_model.load(data);

    const fsm_component = this.$refs.fsm_component as MarmaidFSM;
    fsm_component.loadModel(this.fsm_model);
  }

  @Watch("cpp_code")
  onCPPCodeChange(new_val: string, old_val: string) {
    setTimeout(() => {
      window!.Prism.highlightAll();
    }, 100);
  }

  @Watch("mermaid_code")
  onMarmaidCodeChange(new_val: string, old_val: string) {
    setTimeout(() => {
      window!.Prism.highlightAll();
    }, 100);
  }

  @Watch("current_fsm_path")
  async onCurrentFSMPathChange(new_val: string, old_val: string) {
    if (new_val.length == 0) return;

    const data = await electron.ipcRenderer.invoke("read_file", new_val);
    this.fsm_model = new Model.FSM();
    await this.fsm_model.load(data);

    const fsm_component = this.$refs.fsm_component as MarmaidFSM;
    fsm_component.loadModel(this.fsm_model);
  }
}
</script>

<style scoped>
#container {
  display: flex;
  flex-flow: column;
  background-color: dimgrey;
  height: 100%;
  width: 100%;
}

#canvas {
  flex-grow: 1;
  overflow: auto;
}

#separator {
  height: 3px;
  margin: 0;
  background-color: black;
}

#separator:hover {
  background-color: darkolivegreen;
  cursor: n-resize;
}

#code {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

#code_mermaid {
  width: 40%;
  height: 100%;
}
#code_cpp {
  width: 60%;
  height: 100%;
}
#properties {
  background-color: bisque;
  border-left: solid 1px #ccc;
}

.autofit {
  height: 100%;
}

pre {
  min-height: 100%;
  max-height: none !important; /*workaround for Prism scrollbars*/
}
</style>