<template>
  <div style="height: 100% !important">
    <div class="mermaid" style="text-align: center" ref="mermaid">
      {{ code }}
    </div>
  </div>
</template>

<script lang="ts">
declare global {
  interface Window {
    mermaid: {
      mermaidAPI: any;
      init: any;
      initialize: any;
    };
  }
}

import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import * as Model from "./FSM/model";

import { namespace } from "vuex-class";
const AppState = namespace("AppState");

@Component
export default class Main extends Vue {
  public code = "graph TD;\nLOADING...;";

  @AppState.State
  public mermaid_code!: string;

  @AppState.Mutation
  public setCppCode!: (new_val: string) => void;

  @AppState.Mutation
  public setMermaidCode!: (new_val: string) => void;

  private svgCode = "";

  async mounted() {
    window.mermaid.initialize({
      securityLevel: "loose",
    });

    window.addEventListener("marmaid_click", this._onMermaidClick, false);
  }

  public async loadModel(model: Model.FSM) {
    this.code = "graph TD;\n";
    for (const state of model.states) {
      for (const next_state of state.transitions) {
        this.code += `${state.name} --> ${next_state.name};\n`;
      }
    }

    await model.states.forEach((state) => {
      this.code += `click ${state.name} callback;\n`;
    });

    this.code += "classDef selected fill:#f96;\n";

    this._refreshMermaid();
    this.setMermaidCode(this.code);
  }

  private _refreshMermaid() {
    const container: any = this.$refs.mermaid;

    container.removeAttribute("data-processed");

    container.replaceChild(
      document.createTextNode(this.code),
      container.firstChild!
    );

    window.mermaid.init(this.code, container);
  }

  private _onMermaidClick(event: any) {
    this.code =
      this.code.substring(0, this.code.lastIndexOf("\n")) +
      "\n" +
      `class ${event.detail.node_name} selected;`;
    this.setMermaidCode(this.code);
    this.$emit("nodeSelect", event.detail.node_name);
    this._refreshMermaid();
  }
}
</script>

<style>
</style>