<template>
  <div id="container">
    <br /><br /><br /><br /><br /><br /><br />
    -----------TODO------------<br />
    PROPERTIES && SETTINGS<br />
    PROPERTIES && SETTINGS<br />
    PROPERTIES && SETTINGS<br />
    PROPERTIES && SETTINGS<br />
    PROPERTIES && SETTINGS<br />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

import { namespace } from "vuex-class";
const NS_Main = namespace("Main");

@Component
export default class Properties extends Vue {
  @Prop({ default: "" }) private node_name!: string;
}
</script>

<style scoped>
#container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  text-align: center;
}
</style>